.flex {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.company {
  color: #00008b;
  font-size: 24px;
}
.cat {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #00008b;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}
.cat_item {
  width: 90px;
}
.top {
  position: relative;
  margin-top: 100px;
}
.top_img img {
  width: 100%;
}
.top_img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}
.top_ttl {
  position: absolute;
  bottom: 20%;
  font-size: 50px;
  font-weight: 100;
}
.top_line {
  position: absolute;
  top: 80%;
  background-color: #00008b;
  width: 75%;
  height: 40%;
  z-index: -1;
}
